.about-container {
  background: url('../../public/images/about-us.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;  
}

.about {
  padding-top: 20rem;
  padding-left: 2rem;
  padding-right: 2rem;
  float:left;
  width: 750px;
  color: white;
  text-align: center;
  font-size: large;
  z-index: 100;
}

@media screen and (max-width: 720px) {
  .about {
    
    font-size: large;
    width: 420px;
  }
}